* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    #opacity-overlay {
        transition: all 0.5s ease-in-out;
    }

    .navigation {
        #navbar {
            background-color: #3c366b;
        }
    
        #nav-list {
            transform: translateY(-100vh);
            transition: transform 0.2s ease-in-out;
            background: #302b58;
    
            #nav-search-input {
                transform: translateX(-120vw);
                transition: transform 0.2s ease-in-out;
            }
    
            #nav-search-field,
            #nav-search-field-body {
                background-color: #302b58;
            }
        }
    }

    .faq-open {
        .arrow-up {
            display: none;
        }
    
        .arrow-down {
            display: block;
        }
    
        .faq-desc {
            display: block;
        }
    }

    .faq-closed {
        .arrow-up {
            display: block;
        }
    
        .arrow-down {
            display: none;
        }
    
        .faq-desc {
            display: none;
        }
    }

    .hero {
        background-color: #080710;
    }

    button {
        background-color: #3c366b;
    }
}


/* SM */
@media (min-width: 640px) {}

/* MD */
@media (min-width: 768px) {


}

/* LG */
@media (min-width: 1024px) {
    .navigation {
        #nav-list {
            transform: translateY(0);
            background: transparent;
        }
    
        .nav-link {
            cursor: pointer;
        }
    }

}

/* XL */
@media (min-width: 1280px) {}

/* 2XL */
@media (min-width: 1536px) {}